* {
  border: 0px;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.phoneInformation {
  text-align: center;
}
.font-size {
  text-align: center;
  font-size: 18px;
  margin: 0px 2px;
  padding: 15px 10px;
}

.error-show {
  margin-bottom: 50px;
  margin-top: -50px;
}
.hide {
  display: none;
}
.margin {
  margin-top: 80px;
}
